global
  daemon
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  maxconn 4096
  tune.ssl.default-dh-param 2048

defaults
  log               global
  retries           3
  maxconn           2000
  timeout connect   5s
  timeout client    50s
  timeout server    50s

listen stats
  bind *:82
  balance
  mode http
  stats enable
  stats realm Haproxy\ Statistics
  stats show-legends
  stats show-node MEAL-TICK-test-env
  stats refresh 60
  stats uri /stats
  stats auth admin:admin

frontend TrafficIn
  bind *:80
  mode http
  acl req_write path_beg /write
  acl req_query path_beg /query

  use_backend dbWrite if req_write
  use_backend dbQuery if req_query

  default_backend dbQuery

backend dbWrite
  balance roundrobin
  mode http
  option forwardfor
  server relay1 relay1:9096
  server relay2 relay2:9096

backend dbQuery
  balance roundrobin
  mode http
  option forwardfor
  server influxdb1 influxdb1:8086
  server influxdb2 influxdb2:8086
